@import "../../../styles/font-mixins.scss";
@import "../../../styles/colors.scss";

.restaurants-page {
  margin-bottom: 40px;

  &__image {
    max-width: 900px;
    margin-bottom: 20px;
  }

  &__title {
    font-family: Verdana, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: black;          /* ✅ NEGRO */
    margin: 0 0 16px 0;
  }

  &__description {
    font-family: Verdana, sans-serif;
    color: black;          /* ✅ NEGRO (sin variables inexistentes) */
    line-height: 1.6;
    margin-bottom: 20px;
  }

  &__main-content {
    display: grid;
    grid-template-columns: 0 auto;
    max-width: 1440px;
  }

  &__short-description,
  &__description {
    grid-column: 1 / 3;
  }
}