@import "../../../styles/font-mixins.scss";

.intro {
  margin: 40px 20px 50px;

  &--with-navigator {
    @extend .intro;
  }

  &__text {
    font-family: Verdana, sans-serif;
    font-size: 1.4rem;   /* más grande que antes */
    line-height: 1.8;
  }
}

@media only screen and (min-width: 500px) {
  .intro {
    margin-left: 40px;
    margin-right: 40px;
  }
}


