@import "../../../styles/colors.scss";
@import "../../../styles/font-mixins.scss";

.highlighted-content {
  display: grid;
  row-gap: 25px;
  margin: 0 17px 30px 18px;

  &--with-navigator {
    /* misma base, puedes ajustar si quieres */
  }

  &--last {
    margin-bottom: 80px;
  }

  &__image-container {
    width: auto;
    max-width: 400px;
    background-color: $color-purple-light;

    &--reverse { }

    &--with-navigator {
      max-width: 380px;
    }

    &--green  { background-color: $color-green-light; }
    &--blue   { background-color: $color-blue-light; }
    &--red    { background-color: $color-red-light; }
    &--purple { background-color: $color-purple-light; }
    &--yellow { background-color: $color-yellow-light; }
  }

  &__image-responsive-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
  }

  &__image {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 1;
    margin: 0 auto;
  }

  &__text-container {
    overflow-y: hidden;
    margin-bottom: 20px;

    &--reverse { }
    &--with-navigator { }
  }

  /* TEXTO: más pequeño + Verdana */
  &__large-text {
    font-family: Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 0;

    &--with-navigator {
      font-size: 1.1rem;
      line-height: 1.7;
      margin-bottom: 0;
    }

    /* Colores destacados, mismo tamaño pequeño */
    &--highlighted-green {
      font-family: Verdana, sans-serif;
      font-size: 1rem;
      line-height: 1.6;
      color: $color-green-normal;
    }
    &--highlighted-blue {
      font-family: Verdana, sans-serif;
      font-size: 1rem;
      line-height: 1.6;
      color: $color-blue-normal;
    }
    &--highlighted-red {
      font-family: Verdana, sans-serif;
      font-size: 1rem;
      line-height: 1.6;
      color: $color-red-normal;
    }
    &--highlighted-purple {
      font-family: Verdana, sans-serif;
      font-size: 1rem;
      line-height: 1.6;
      color: $color-purple-normal;
    }
    &--highlighted-yellow {
      font-family: Verdana, sans-serif;
      font-size: 1rem;
      line-height: 1.6;
      color: $color-yellow-normal;
    }

    &--highlighted-green--with-navigator {
      font-family: Verdana, sans-serif;
      font-size: 1.1rem;
      line-height: 1.7;
      color: $color-green-normal;
      margin-bottom: 0;
    }
    &--highlighted-blue--with-navigator {
      font-family: Verdana, sans-serif;
      font-size: 1.1rem;
      line-height: 1.7;
      color: $color-blue-normal;
      margin-bottom: 0;
    }
    &--highlighted-red--with-navigator {
      font-family: Verdana, sans-serif;
      font-size: 1.1rem;
      line-height: 1.7;
      color: $color-red-normal;
      margin-bottom: 0;
    }
    &--highlighted-purple--with-navigator {
      font-family: Verdana, sans-serif;
      font-size: 1.1rem;
      line-height: 1.7;
      color: $color-purple-normal;
      margin-bottom: 0;
    }
    &--highlighted-yellow--with-navigator {
      font-family: Verdana, sans-serif;
      font-size: 1.1rem;
      line-height: 1.7;
      color: $color-yellow-normal;
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: 500px) {
  .highlighted-content {
    margin: 0 40px;
  }
}

@media only screen and (min-width: 800px) {
  .highlighted-content {
    row-gap: 25px;
    margin-bottom: 50px;

    &__image-container--with-navigator {
      max-width: 400px;
    }
  }
}

@media only screen and (min-width: 850px) {
  .highlighted-content {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 370px 370px;
    column-gap: 40px;
    row-gap: 60px;
    width: 780px;
    margin: 0 auto 60px;

    &--with-navigator {
      display: block;
      width: auto;
      margin: 0 40px 50px 40px;
    }

    &--last {
      margin-bottom: 80px;
    }

    &__image-container {
      &--with-navigator { max-width: 400px; }
    }

    &__text-container {
      align-self: center;
      margin-bottom: 0;
    }

    &__image-container--reverse {
      grid-area: right;
    }
    &__text-container--reverse {
      grid-area: left;
    }
  }
}

@media only screen and (min-width: 1250px) {
  .highlighted-content {
    grid-template-columns: 465px 465px;
    column-gap: 100px;
    row-gap: 80px;
    width: 1030px;
    margin-bottom: 60px;

    &--with-navigator {
      grid-template-areas: "left middle right";
      grid-template-columns: 258px 105px 258px;
      column-gap: 24px;
      row-gap: 60px;
      width: 669px;
      margin-bottom: 90px;
    }

    &__image-container {
      max-width: none;
    }
  }
}
