@import "../../../styles/animations";
@import "../../../styles/font-mixins";
@import "../../../styles/colors";

/* Botón (si last = true) */
.buttonlink-true {
  padding: 0 30px;
  border-radius: 30px;
  font-family: Verdana, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 50px;
  display: flex;

  &:active {
    transform: perspective(1px) scale(0.975);
  }

  &:hover,
  &:active {
    background-color: transparent;
    color: #d4af37;
    border-color: #d4af37;
  }
}

/* Links normales (last = false) */
.buttonlink-false {
  color: white !important;
  text-decoration: none;
}

/* ===========================
   DESKTOP
=========================== */
.main-header {
  @include header-font;

  &__nav-item-inner {
    &:hover {
      .main-header__nav-dropdown {
        display: flex;
      }

      p.main-header__dropdown-item-maintext {
        color: #d4af37; /* hover dorado */
      }
    }
  }

  &__nav-dropdown-wrapper {
    position: absolute;
    width: 100%;
    height: 20px;
  }

  &__nav-dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    display: none;
    flex-direction: column;
    width: 460px;
    padding: 15px;
    border-radius: 14px;
    border: 2px solid $color-default;
    background-color: white;
    transform: translateX(-50%);
  }

  &__dropdown-item-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;

    img {
      width: 48px;
      height: 48px;
    }

    &:hover {
      background-color: $color-blue-ultra-light;
    }
  }

  &__expanded-nav-dropdown {
    position: absolute;
    left: 18px;
    z-index: 1;
    display: none;
    flex-direction: column;
    width: 460px;
    max-width: 90vw;
    margin-top: 10px;
    padding: 15px;
    border-radius: 14px;
    border: 2px solid $color-default;
    background-color: white;

    &--open {
      @extend .main-header__expanded-nav-dropdown;
      display: flex;
    }
  }
}

/* ===========================
   MOBILE
=========================== */
.mobile-main-header {
  @include header-font;

  &__nav-item-inner {
    &:hover {
      .main-header__nav-dropdown {
        display: flex;
      }

      p.main-header__dropdown-item-maintext {
        color: #d4af37;
      }
    }
  }

  &__nav-dropdown-wrapper {
    position: relative;
  }

  &__nav-dropdown {
    position: relative;
    flex-direction: column;
    padding: 15px;
    border-radius: 14px;
    background-color: white;
  }

  &__dropdown-item-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;

    img {
      width: 48px;
      height: 48px;
    }

    &:hover {
      background-color: $color-blue-ultra-light;
    }
  }

  &__expanded-nav-dropdown {
    position: absolute;
    left: 18px;
    z-index: 1;
    display: none;
    flex-direction: column;
    width: 460px;
    max-width: 90vw;
    margin-top: 10px;
    padding: 15px;
    border-radius: 14px;
    border: 2px solid $color-default;
    background-color: white;

    &--open {
      @extend .main-header__expanded-nav-dropdown;
      display: flex;
    }
  }
}

/* Texto de los enlaces en la barra */
p.main-header__dropdown-item-maintext {
  margin-bottom: 0;
  margin-left: 0;
  font-family: Verdana, sans-serif;
  color: white; /* BLANCO EN LA BARRA SUPERIOR */
}

/* Texto dentro del dropdown */
p.main-header__dropdown-item-text {
  margin-bottom: 0;
  margin-left: 20px;
  @include header-font;
}

span.main-header__dropdown-item-text--highlighted {
  margin-bottom: 0;
  @include header-font($color-blue-normal);
}